body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #e0f2fe, #075985);
    min-height: 100vh;
    margin: 0 0 100px 0;
    padding-top: 20px;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for better layout control */
}

.banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.gallery a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Adjusted to 100% width for responsiveness */
    height: 200px; /* Fixed height for each card */
    background-color: #0c4a6e; /* Background color for each card */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure image fits within the card */
}

.gallery a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #38bdf8;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #6c757d;
}

.pagination button:not(:disabled):hover {
    background-color: #38bdf8;
}

.pagination button:focus {
    outline: 3px solid #bae6fd;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}